
# Infrastructure
ansible
ansible-core
black
codecov
coverage
fastapi
flake8
Flask
gitchangelog
imutils
ipykernel
isort
jupyterlab
matplotlib
mkdocs
mypy
notebook

# Scientific
numpy
opencv-contrib-python

# Imaging
opencv-python
pandas
Pillow
pydantic

# Testing/linting
pytest
pytest-cov
qrcode
scikit-learn
scipy
tabulate
timm
torch
torchvision
tqdm
uvicorn
# Basic
virtualenv

# Web-based services
yfinance
