# Commonly-used Python libraries
ansible
ansible-core
black
codecov
coverage
fastapi
flake8
Flask
gitchangelog
imutils
ipykernel
isort
jupyterlab
matplotlib
mkdocs
mypy
notebook
numpy
opencv-contrib-python
opencv-python
pandas
Pillow
pydantic
pytest
pytest-cov
qrcode
scikit-learn
scipy
tabulate
tqdm
uvicorn
virtualenv
yfinance
